{
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "jsxWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 100,
        "proseWrap": "always"
      }
    }
  ]
}
